/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo da barra lateral */
.sidebar {
    background-color: #2c3e50;
    width: 250px; /* Largura ajustada */
    padding: 20px;
    color: #ecf0f1;
    height: 100vh;
    position: fixed; /* Fixar a barra lateral */
    left: 0;
    top: 0;
}

.inicio-sidebar {
    position: left;
    position: fixed; /* Fixa a barra lateral na tela */
    left: 0; /* Define a posição à esquerda */
    top: 0; /* Define a posição no topo */
    height: 100vh;
}

.sidebar h2 {
    text-align: center;
    color: #ecf0f1;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #ecf0f1;
    text-decoration: none;
}

/* Estilo do conteúdo principal */
.content {
    margin-top: 500px;
    padding-top: 0;
    padding: 20px;
    background-color: #f2f2f2;
    width: calc(100% - 250px); /* Ocupa o restante da tela */
    margin-left: 350px; /* Espaço para a barra lateral fixa */
    min-height: 100vh; /* Garante que o conteúdo preencha toda a altura */

}

.content h1 {
    color: #34495e;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

form label {
    margin-top: 10px;
    color: #34495e;
}

form input[type="text"], form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

form input[type="checkbox"] {
    margin-top: 10px;
}

form button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background-color: #0073e6;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Garante largura completa no formulário */
}

form button:hover {
    background-color: #005bb5;
}

/* Estilo da página de login */
.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.login-container h2 {
    color: #0073e6;
}

.login-container p {
    font-size: 14px;
    color: #333333;
}

.login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}
