<!-- templates/dashboard.html -->
{% extends "base.html" %}

{% block content %}
<h2>Consulta Processual - Detalhes do Processo</h2>
<div class="process-info">
    <p><strong>Nº do processo:</strong> 5014846-66.2024.8.21.0023</p>
    <p><strong>Classe da ação:</strong> PROCEDIMENTO DO JUIZADO ESPECIAL CÍVEL</p>
    <p><strong>Data de autuação:</strong> 22/07/2024 21:05:31</p>
    <p><strong>Partes e Representantes:</strong></p>
    <ul>
        <li><strong>Autor:</strong> FRANCISCO HECKTHEUER SILVA</li>
        <li><strong>Réu:</strong> ATHOS SOLUCOES LTDA.</li>
    </ul>
    <!-- Adicione mais informações conforme necessário -->
</div>
{% endblock %}
