<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boletim Registrado com Sucesso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="sidebar inicio-sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="{{ url_for('inicio') }}">Página Inicial</a></li>
            <li><a href="{{ url_for('consulta_processual') }}">Consulta Processual</a></li>
            <li><a href="{{ url_for('registrar_boletim') }}">Registrar Boletim de Ocorrência</a></li>
            <li>
                <a href="#" onclick="mostrarNotificacao()">
                    Notificações
                    {% if usuario.notificacoes %}
                    <span style="color: red; font-weight: bold;">•</span>
                    {% endif %}
                </a>
            </li>            
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
        </ul>
    </div>

    <div class="content">
        <h1>Boletim Registrado com Sucesso!</h1>
        <p>Seu boletim de ocorrência foi registrado com o número de processo: <a href="{{ url_for('exibir_processo', boletim_id=boletim_id) }}">{{ numero_processo }}</a></p>
        <p>Clique no número do processo acima para acessar os detalhes ou acesse a opção do menu lateral para consultar seu processo pelo número.</p>
    </div>
</body>
</html>